@charset "UTF-8";
@font-face {
  font-family: 'Harabara';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("~assets/fonts/Harabara.ttf") format("truetype");
}

.sidebar {
  width: 9rem;
  height: 100vh;
  position: fixed;
  background: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  z-index: 10;
}

.sidebar > a > img {
  margin: 4.4rem auto 0;
}

.sidebar ul {
  width: 100%;
  margin: -7.8rem auto 0;
}

.sidebar ul li {
  margin: 0 auto 2.6rem;
}

.sidebar ul li a {
  display: inline-block;
  width: 100%;
  color: #aaaaaa;
  font-family: "Harabara", -apple-system, BlinkMacSystemFont, 游ゴシック体, YuGothic, 游ゴシック Medium, Yu Gothic Medium, 游ゴシック, Yu Gothic, ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, sans-serif;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  transition: all 0.5s;
}

.sidebar ul li a:hover, .sidebar ul li a:focus {
  color: #6945ff;
}

.sidebar .link-students {
  margin: 0 auto 4.4rem;
}

.sidebar .link-students a {
  color: #aaaaaa;
  font-family: "Harabara", -apple-system, BlinkMacSystemFont, 游ゴシック体, YuGothic, 游ゴシック Medium, Yu Gothic Medium, 游ゴシック, Yu Gothic, ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, sans-serif;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
}

.section-keyVisual {
  width: 100%;
  height: 100%;
  background: #eaeaea;
  overflow: hidden;
}

.title {
  width: 42%;
  max-width: 380px;
  margin: 0;
  padding: 8.8rem 0 0 0;
  position: absolute;
  top: 0;
  right: 14%;
  z-index: 3;
}

.title .title-main {
  margin: 0 auto 2.6rem;
}

.title img {
  width: 100%;
}

.theme {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  z-index: 3;
  width: 12%;
}

.theme img {
  width: 100%;
}

.layer {
  display: flex;
  flex-flow: row-reverse;
}

.layer .layer-front {
  width: 130%;
  height: 100vh;
  margin: 0 0 0 auto;
  z-index: 2;
}

.layer .layer-front .layer-front-content {
  position: relative;
  width: 100%;
  height: 100%;
  background: #eaeaea;
}

.layer .layer-front .layer-front-content:before {
  content: 'INVITATION';
  color: #d8d8d8;
  writing-mode: vertical-rl;
  font-size: 4.2vw;
  font-weight: bold;
  font-family: "Anton", -apple-system, BlinkMacSystemFont, 游ゴシック体, YuGothic, 游ゴシック Medium, Yu Gothic Medium, 游ゴシック, Yu Gothic, ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, sans-serif;
  letter-spacing: 4.4rem;
  position: absolute;
  top: 50%;
  left: 54%;
  transform: rotate(180deg) translateY(50%);
}

.layer .layer-front .layer-front-content:after {
  content: '';
  background: #d8d8d8;
  width: 0.2rem;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 64%;
}

.layer .layer-front .layer-front-shadow {
  position: relative;
  z-index: -1;
}

.layer .layer-front .layer-front-shadow:before {
  content: '';
  position: absolute;
  bottom: 50%;
  right: 100%;
  border-bottom: 100vh solid #eaeaea;
  border-left: 34vw solid transparent;
  filter: drop-shadow(-0.6rem -0.4rem 1.6rem rgba(0, 0, 0, 0.16));
  z-index: -1;
}

.layer .layer-back {
  width: 50%;
  height: 100vh;
  margin: 0;
  background: #eaeaea;
  transform: translateX(145px);
}

.circle-01 {
  width: 30vw;
  height: 30vw;
  position: absolute;
  top: 16%;
  left: 38%;
}

.circle-01 .circle-01-in {
  background: linear-gradient(220deg, #6945ff 0%, #00caf9 66%, #00fccc 100%);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: -14px 0 36px rgba(0, 0, 0, 0.16);
}

.circle-02 {
  width: 16vw;
  height: 16vw;
  position: absolute;
  top: 52%;
  left: 14%;
}

.circle-02 .circle-02-in {
  background: #fff;
  opacity: 0.6;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  backdrop-filter: blur(10px);
  box-shadow: 6px 12px 18px rgba(0, 0, 0, 0.16);
}

.section-welcome {
  width: calc(100% - 9rem);
  margin: 0 0 0 auto;
  padding: 20.4rem 0;
  background: #eaeaea;
  z-index: 100;
}

.section-welcome .welcome-content {
  width: 80%;
  min-width: 900px;
  max-width: 1150px;
  margin: 0 auto;
  border: 2px solid #6945ff;
  border-radius: 20px;
  background: #eaeaea;
  position: relative;
}

.section-welcome .welcome-content:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 18px;
  left: 18px;
  margin: 0 auto;
  border: 2px solid #6945ff;
  border-radius: 20px;
  background: transparent;
  opacity: 0.7;
  z-index: 11;
}

.heading-2.-welcome {
  text-align: center;
  margin: 7rem auto;
}

.heading-2.-welcome span {
  display: block;
  font-size: 6.2rem;
  font-family: "Anton", -apple-system, BlinkMacSystemFont, 游ゴシック体, YuGothic, 游ゴシック Medium, Yu Gothic Medium, 游ゴシック, Yu Gothic, ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, sans-serif;
  letter-spacing: 1.8rem;
  margin: 0 auto 7rem;
  color: #00fccc;
  background: linear-gradient(90deg, #6945ff 0%, #00caf9 66%, #00fccc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
